*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    height: 100vh;
    width: 100vw;
    background-color: #2F2F2F;
    background-image: url(assets/bg/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    overflow: hidden;
}

button {
    font-family: 'JetBrains Mono', monospace;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #FFF;
    width: 100%;
}

.page_header {
    display: flex;
    justify-content: space-between;
    align-items: text;
    background-color: #1f1f1f;
    padding: 15px 35px 15px 35px;
    width: 100%;
}

.page_title {
    font-size: 36px;
    text-decoration: none;
    color: #FFF;
}

.user_settings {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user_login, .user_register {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    height: 100%;
    padding: 0.5rem;
    padding-inline: 1rem;
    color: #FFF;
    font-style: normal;
    text-decoration: none;
    border-radius: 0.5rem;
}

.user_label {
    padding: 0.5rem;
    padding-inline: 1rem;
    color: #FFF;
    font-style: normal;
    text-decoration: none;
    border-radius: 0.5rem;
}

.user_logout {
    display: flex;
    align-items: center;
    border-style: none;
    height: 100%;
    font-weight: bold;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 16px;
}
.user_logout:hover {
    background-color: #BABABA;
}
.user_logout:active {
    background-color: #FFF;
}

.user_login:active, .user_register:active {
    background-color: #2F2F2F;
}

.user_login:active, .user_register:active {
    background-color: #2a2a2a;
}

.content_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    gap: 2rem;
    padding: 2rem;
}

.thumbnail_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    place-items: start;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    gap: 0.3rem;
    padding: 0.3rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.thumbnail::-webkit-scrollbar {
     width: 5px;               /* width of the entire scrollbar */
}

.thumbnail::-webkit-scrollbar-thumb {
    background-color: #FFF;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
}




.input_container {
    align-self: start;
    width: 550px;
}

.link_input {
    display: flex;
    width: 100%;
    font-size: large;
    padding: 1rem;
    border-radius: 1rem;
}

.input_link {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
    width: 100%;
}

.link_wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 0.3rem;
}

.video_link {
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #474747;
    color: #FFF;
    text-decoration: none;
}

.video_link:hover {
    background-color: #373737;
}

.video_link:active {
    background-color: #2F2F2F;
}

.btn_delete_link {
    border: none;
    border-radius: 0.3rem;
    background-color: #FFF;
    color: #2F2F2F;
    cursor: pointer;
    font-weight: bold;
}

.btn_delete_link:hover {
    background-color: #e9e9e9;
}


.iFrame_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.video_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border-radius: 0.5rem;
    border: #FFF;
    border-width: 2px;
    border-style: solid;
    background-color: #474747;
    overflow: hidden;
}

.video_title {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #2a2a2a;
    width: fit-content;
}

.button_addLink {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: large;
    font-weight: bold;
}

.button_addLink:hover {
    background-color: #BABABA;
}

.button_addLink:active {
    background-color: #FFF;
}

.landing_container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.welcome_span_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span_welcome {
    font-size: 24px;
    font-weight: bold;
}

.span_watchLater {
    font-weight: bolder;
    font-size: 75px;
    line-height: 5rem;
}

.user_guide {
    width: 700px;
    text-align: center;
}